.admin header{position:fixed;}
.admin .admin-section .container{padding-top:var(--el-main);}

.admin .admin-wrapper{
    width: 80%;
    height: auto;
    margin: auto;
}

/* 패널 버튼 스타일 */
.admin .admin-btns{
    width: 100%;
    height: auto;
    border-bottom:1px solid var(--color-pt) ;
    display: flex;
    margin: 3rem 0 0 0;
}

.admin .admin-btns button{
    padding: .75rem 2rem;
    border: 1px solid var(--color-pt);
    border-bottom: 0;
}
.admin .admin-btns button:first-child{
    border-right: 0;
}
.admin .admin-btns button.on{
    background: var(--color-pt);
    color: #fff;
}

/* 패널 버튼 스타일 */
.admin .admin-panels{
    width: 100%;
    height: auto;
    margin: .5rem 0 0 0;
}
.admin .admin-panel{
    width: 100%;
    height: auto;
    display: none;
    border: 1px solid var(--color-pt);
    padding: .5rem;
}
.admin .admin-panel.on{
    display: block;
}

/* 사용자정보 패널 스타일 */
.admin .admin-user-lists{
    width: 100%;
    height: auto;
}

.admin .admin-user-lists li.list-title{
    background: var(--color-pt);
    color: #fff;
}
.admin .admin-user-lists li.list-contents:nth-child(odd){
    background: #f4f4f4;
}
.admin .admin-user-lists li.list-title,
.admin .admin-user-lists li form{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr;
    font-size: 0.875rem;
    text-align: center;
    align-items: center;
   
}
.admin .admin-user-lists li span{
    padding: .5rem 0;
}

.admin .admin-user-lists li span input{
    border: 1px solid var(--color-pt);
    text-align: center;
    padding: .5rem 0;
    width: 90%;
}
.admin .admin-user-lists li span input[type="submit"]{
    width: 70%;
    padding: .25rem;
    background: var(--color-pt);
    color: #fff;
    border-radius: .25rem;
}

.admin .admin-user-lists li.list-null{
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
}