@keyframes title-line{
  0%{width:0;}
  100%{width:10rem;}
}

@keyframes slide-up{
  0%{transform:translateY(40px); opacity:0;}
  100%{transform:translateY(0); opacity:1;}
}

@keyframes scale-down{
  0%{transform:scale(1.1);}
  100%{transform:scale(1);}
}

@keyframes fade-in{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes textAni{
  0%{opacity:0; transform:rotateY(-90deg);}
  100%{opacity:1; transform:rotateY(0);}
}