.detail .gallery-contents{z-index:10; position:relative; display:grid; grid-template-columns: 4.5fr 4.5fr 1fr;}
.detail .gallery-contents .gallery-item-hang{padding:3rem 2rem;}
.detail .gallery-contents .image-frame{box-shadow:2px 5px 8px #888; overflow:hidden;}
.detail .gallery-contents .gallery-item-hang img{width:100%;}
.detail .gallery-bg-wrapper{width:100%; height:1000px; position:relative; padding:3rem;}
.detail .gallery-bg{width:100%; height:100%; left:0; top:0; position:absolute; background-size:cover; background-position:center center; transition:all .4s;}


.detail .line{width:100%; height:1px; background:#eee; margin:1.2rem 0; display:block;}


.detail .item-order-info,
.detail .item-order-info-clone{background:#fff; padding:2.5rem; margin-bottom:15rem;}
.detail .item-order-info-clone{display:none;}
.detail .item-order-info .item-title-box,
.detail .item-order-info-clone .item-title-box{position:relative;}
.detail .item-order-info .item-title-box h3,
.detail .item-order-info-clone .item-title-box h3{font-size:1.625rem; line-height:2.25rem; font-family:var(--ff-kr-serif);}
.detail .item-order-info .item-title-box p,
.detail .item-order-info-clone .item-title-box p{font-size:1rem; color:var(--color-pt); line-height:1.25rem; margin-top:1.2rem;}

.detail .item-size-box{padding:1.2rem 0;}
.detail .size-title{display:flex; justify-content: space-between; align-items: center;}
.detail .size-title p{font-size:1.125rem; font-weight:500; line-height: 1.75rem; color:#333;}
.detail .size-title em{font-size:0.875rem; font-weight:400; color:#888;}
.detail .item-size-box select{width:100%; height:auto; padding:1rem; border:1px solid #ddd; border-radius:0; outline:0; font-size:1rem; color:#888; margin-top:1rem;}

.detail .item-count-box{background:#efefef; padding:1.2rem; display:flex; justify-content: space-between; align-items: center;}
.detail .item-count-box .counting{background:#fff; display:flex; border:1px solid #ddd;}
.detail .item-count-box .counting span{width:50px; height:30px; display:flex; align-items: center; justify-content: center; color:#666; font-size:.9rem}


.detail .item-price-box{display:flex; justify-content: space-between;}
.detail .item-price-box strong{font-weight:500; font-size:1.25rem;}
.detail .item-btns{display:flex; justify-content: flex-end; column-gap: .5rem; margin-top:1.2rem;}


.detail .item-thumb-image{padding:0 .75rem; display:flex; flex-direction: column; row-gap:.75rem;}
.detail .item-thumb-image span.active{border:2px solid var(--color-pt);}
.detail .item-thumb-image img{width:100%;}

/* Detail Info Section Style */
.detail .detail-info-section .container{background:#f8f8f8; padding:5rem 0;}
.detail .detail-info-section .section-title{font-weight:700;}
.detail .detail-info-section .detail-info-image{width:70%; margin:auto; height:auto; margin-top:3rem; overflow:hidden; display:flex; align-items: center; justify-content: center; box-shadow:1px 3px 10px #555;}
.detail .detail-info-section .detail-info-image img{width:100%;}


.detail .detail-info-section .detail-info-text{width:70%; margin:auto; height:auto;}
.detail .detail-info-text .info-title{width:100%; height:auto; display:flex; justify-content: center; align-items: center;}
.detail .detail-info-text .info-title .tit{font-size:1.625rem; font-weight:700; line-height:2.25rem; font-family:var(--ff-kr-serif); margin-right:1.25rem; padding:3rem 0;}
.detail .detail-info-text .info-title .wt{font-size:1.125rem; color:#888; font-family:var(--ff-kr-serif); line-height:1.5rem;}
.detail .detail-info-text .info-title .wt .kr{color:var(--color-pt); display:inline-block; margin-left:1.25rem; padding-left:1.25rem; position:relative;}
.detail .detail-info-text .info-title .wt .kr:after{position:absolute; content:''; left:0; top:5px; width:1px; height:1rem; background:#ddd;}
.detail .detail-info-text .info-desc{font-size:1rem; width:100%; text-align:center; line-height:1.625rem; color:#888;}

/* Review Section Style */
.detail .sub-title{width:100%; height:auto; margin-top:3rem;}
.detail .list-title{border-bottom:1px solid var(--color-pt); display:flex; align-items: flex-end; column-gap: 1.5rem;}
.detail .list-title h3{font-size:2.5rem; color:#333; font-family:var(--ff-en); font-weight:700; line-height:3.125rem; letter-spacing: 0;}

.detail .review-info-box{line-height: 2rem; display:flex; align-items: center; color:#aaa;}
.detail .star-avg-box{margin-bottom:-4px;}
.detail .star-avg-box,
.detail .star-avg-val{padding-left:1rem; margin-left:1rem; position:relative;}
.detail .star-avg-box:before,
.detail .star-avg-val:before{position:absolute; content:''; width:2px; height:30%; top:50%; left:0; transform:translateY(-50%); background:#bbb;}

.detail .star-avg-box .ri-line{color:var(--color-pt);}
.detail .star-avg-box .ri-fill{position:absolute; width:55%; left:1rem; white-space: nowrap; overflow:hidden; color:var(--color-pt); top:0;}

.detail .star-avg-box .ri-line, 
.detail .star-avg-box .ri-fill{display:flex; font-size:1.2rem;}

.detail .review-form{width:100%; height:auto;}
.detail .review-form form{display:flex; justify-content: space-between; border:1px solid #bbb; margin-top:var(--el-medium); padding:.25rem; column-gap:.25rem;}
.detail .review-form textarea{padding:.75rem; resize:none; width:60%; border:1px solid #bbb;}

.detail .review-form .rating{width:30%; border:1px solid #bbb; display:flex; flex-direction: column; align-items: center; justify-content: center; row-gap: .5rem; padding:.5rem 0;}
.detail .review-form .rating .stars{transform:rotateY(180deg);}
.detail .review-form .rating p{font-size:.875rem; color:#aaa;}
.detail .review-form .rating input{display:none;}
.detail .review-form .rating label i{font-size:1.25rem; color:var(--color-pt);}
.detail .review-form .rating label i.ri-star-fill{display:none;}
.detail .review-form .rating label:hover i.ri-star-fill,
.detail .review-form .rating input:checked ~ label i.ri-star-fill{display:inline-block;}
.detail .review-form .rating label:hover i.ri-star-line,
.detail .review-form .rating input:checked ~ label i.ri-star-line{display:none;}
.detail .review-form button.cmt-insert{background:var(--color-pt); color:#fff; padding:.75rem; width:10%;}

.detail .review-lists{width:100%; height:auto; margin-top:.75rem; border:1px solid #bbb; padding:.25rem;}
.detail .review-list{width:100%; height:auto; border:1px solid #bbb; margin-bottom:.5rem;}
.detail .review-list .review-list-info{width:100%; height:auto; display:flex; justify-content: space-between; padding:.5rem .75rem; color:#333; background:#f8f8f8; align-items: flex-end;}

.detail .review-list .review-list-info .id-reg{display:flex; color:#333; font-size:1rem; align-items: center;}
.detail .review-list .review-list-info .id-reg span{margin-left:1.25rem; padding-left:1.25rem; position:relative;}
.detail .review-list .review-list-info .id-reg span:before{content:''; position:absolute; width:1px; height:40%; left:0; top:50%; transform:translateY(-50%); background:#aaa;}
.detail .review-list .review-list-info button{background:var(--color-pt); color:#fff; padding:.5rem 1rem;}

.detail .review-list .review-list-content{padding:.75rem; border-top:1px solid #ddd;}
.detail .review-list .review-list-content p{color:#333; font-size:1rem;}

.detail .no-elmt{display:flex; align-items: center; justify-content: center; padding:1rem 0; color:#888; font-size:0.875rem;}

.detail .update-form{display:flex;}
.detail .update-form textarea{width:60%; border:1px solid #ddd; padding:.5rem; color:#888;}
.detail .update-form button{width:10%; background:var(--color-pt); color:#fff; padding:.5rem 0;}






