@media screen and (max-width:1400px){
 /* Common Style */
 /* .container{
  padding-left:1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
 } */
 /* Header Style */
 /* header .container{
  padding: var(--el-medium) var(--el-main);
  max-width: none;
  transition: all .3s;
 } */
 header ul li{
  display: none;
 }
 header ul li.menu-icon{
  display: block;
 }






} /* end */