/* best, new, 사진작품, 그림작품, cart 페이지 */

/* Best Page Style */
.product .product-section .container{padding-top:var(--el-main);}
.product .product-list-wrapper{width:100%; height:auto; margin:5rem auto 0;}
.product .list-title{border-bottom:1px solid var(--color-pt);}
.product .list-title h3{font-size:2.5rem; color:#333; font-family:var(--ff-en); font-weight:700; line-height:3.125rem; letter-spacing:0;}

/* Product MD PICK Slider Style */
.product .product-preview{width:100%; height:auto; margin-top:3rem;}
.product .swiper-contents{display:flex; width:100%; height:auto; margin:auto; padding:1.5rem; margin-top:1.5rem; background:#efefef; column-gap: 0.5rem;}
.product .swiper-image-wrapper{width:40%; border:1px solid var(--color-pt); padding:0.5rem; box-shadow:1px 3px 13px #bbb; overflow:hidden;}
.product .swiper{overflow:hidden;}
.product .swiper img{width:100%;}

.product .swiper-text-wrapper{width:60%; display:flex; background:#fff; box-shadow:1px 3px 13px #bbb; padding:0 3rem; justify-content: center; flex-direction: column; border:1px solid var(--color-pt);}
.product .text-contents{display:none; flex-direction: column; transform:translateY(40px); opacity:0;}
.product .text-contents.active{display:flex; animation:slide-up 1s 1; animation-fill-mode: forwards; animation-delay:0.5s;}

.product .text-contents h3{color:#333; font-size:1.875rem; font-family:var(--ff-kr-serif); line-height:2.5rem; letter-spacing:-.7px; margin:var(--el-medium) 0;}
.product .text-contents p{font-size:1rem; color:var(--color-pt); line-height:1.25rem;}
.product .text-contents i{display:block; margin:var(--el-small) 0; font-size:1rem; color:#999;}
.product .text-contents em{display:-webkit-box; text-overflow:ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: keep-all; overflow:hidden; font-size:1rem; color:#666; line-height: 1.625rem;}
.product .text-contents strong{font-weight:500; line-height:1.875rem; color:#333; font-size:1.25rem; font-family: var(--ff-kr-serif); margin-top:var(--el-medium);}

.product .preview-swiper{display:flex; align-items: center; column-gap: 1rem;}
.product .preview-swiper .btn{width:30px; height:30px; background:var(--color-pt); color:#fff; font-size:1.25rem; display:flex; align-items: center; justify-content: center;}

.product .product-lists{width:100%; height:auto; padding:1.5rem 0; display:flex; flex-wrap:wrap; gap:1rem;}
.product .product-content{width:calc(33.33% - 0.666rem); padding:1rem; box-shadow:0 0 1px 1px #eee;}
.product .product-content .product-image{width:100%; overflow:hidden; display:flex; align-items: center; justify-content: center; position:relative;}
.product .product-content .product-image img{height:100%; width:100%;}

.product .product-content .view-more-box{position:absolute; top:50%; left:50%; background:rgba(255, 255, 255, 0.8); width:80%; height:80%; display:flex; align-items: center; justify-content: center; transform:translate(-50%, -30%) rotateY(180deg); opacity:0; visibility: hidden; transition:all .4s; transition-delay:.2s;}
.product .product-content .product-image:hover .view-more-box{opacity:1; visibility: visible; transform: translate(-50%, -50%) rotateY(0);}

.product .product-info{width:100%; height:auto; padding:var(--el-medium) 0; display:flex; flex-direction: column;}
.product .product-info .item-title{font-family:var(--ff-kr-serif); font-size:1.5rem; font-weight:600; line-height:1.875rem;}
.product .product-info .item-by{color:var(--color-pt); margin-top:var(--el-small); font-family:var(--ff-kr-serif); line-height:1.8rem;}
.product .product-info .item-size{color:#999; margin-bottom:var(--el-small);}
.product .product-info .item-price{font-size:2rem; font-weight:500; color:#333;}
.product .product-info .item-price span{font-size:1.25rem; font-weight:400; font-family:var(--ff-kr-serif);}

.product .more-lists{width:100%; height:auto; margin-top:3rem; display:flex; justify-content: center;}
.product .more-lists button{background:var(--color-pt); color:#fff; font-size:1rem; border:1px solid var(--color-pt); padding:.875rem 4rem; transition:all .4s;}
.product .more-lists button:hover{background:#fff; color:var(--color-pt);}

/* Cart Page Style */
.product.cart .price-count{display:flex; align-items: center; justify-content: space-between;}
.product.cart .cart-btns{width:100%; display:flex; justify-content: space-between; column-gap: .5rem; padding:var(--el-small) 0;}
.product.cart .cart-btns button{width:50%; text-align: center; padding:.5rem 0; background:var(--color-pt); color:#fff; border:1px solid var(--color-pt); transition:all .4s;}
.product.cart .cart-btns button:hover{color:var(--color-pt); background:#fff;}
.product.cart .product-info{padding-bottom:0;}
